#root {
  margin: auto;
  text-align: center;
  width: 100%;
}

#homepage-header{
  background-color: black;
  height: 75px;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#brand-name{
  margin : auto auto auto 37px;
  height: auto;
  background-color: none;
}